footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.363);
    height: 30%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__links {
    display: flex;
    justify-content: space-between;
    align-items: center;

}