
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
    font-size: 2rem;
}

.header-brand {
    font-family: $default-logo-font-family;
    margin: 1em 0;
    
   
    



}





/* Menu Icon */
.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}/* Style label tag */

.hamb-line {
	
  background-color: #00dd00;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  background: #00dd00;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}
.hamb-line::before{
  top: 5px;
}
.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}



.header__nav-item--active  {
    color: rgba(165, 253, 238, 0.8);
    animation: neonspark 1s 1s forwards;
}

.header__nav-item {
    display: inline-block;
    margin:0 5px;
}

@media (max-width: 767px) {

  .header__nav {
    display: none;
  }
  
}

/* Responsiveness */
@media (min-width: 768px) {
    

    .hamb{
        display: none;
    }
}

@keyframes neonspark {
    0% {
      text-shadow: none;
    }
    30% {
      text-shadow: 0 0 30px rgba(22, 224, 189, 0.6);
    }
    60% {
      text-shadow: 0 0 30px rgba(22, 224, 189, 0.6),
        0 0 60px rgba(22, 224, 189, 0.4);
    }
    80% {
      text-shadow: none;
    }
    100% {
      text-shadow: 0 0 30px rgba(22, 224, 189, 0.6),
        0 0 60px rgba(22, 224, 189, 0.4), 0 0 100px rgba(22, 224, 189, 0.2),
        0 0 90px rgba(22, 224, 189, 0.1);
    }
  }